In [1]:
import pandas as pd
import feature_extraction as fe
import numpy as np

In [2]:
df_raw = pd.read_csv('RAVDESS_speech.csv')
df_raw.head()

,filePath,emotion,isFemale,actorId
0,data/RAVDESS/Audio_Speech_Actors_01-24/Actor_1...,5,True,16
1,data/RAVDESS/Audio_Speech_Actors_01-24/Actor_1...,6,True,16
2,data/RAVDESS/Audio_Speech_Actors_01-24/Actor_1...,6,True,16
3,data/RAVDESS/Audio_Speech_Actors_01-24/Actor_1...,5,True,16
4,data/RAVDESS/Audio_Speech_Actors_01-24/Actor_1...,7,True,16

In [4]:
df = df_raw

In [5]:
df['filePath'][0]

'data/RAVDESS/Audio_Speech_Actors_01-24/Actor_16/03-01-05-01-02-01-16.wav'

In [11]:
# here we generate the MFCC paramaters from audio files
#df['mfcc'] = [ feature_extraction.getMfcc(feature_extraction.getSamples(x),8000) for x in df['filePath']]

In [6]:
df['mfcc_trimmed'] = [ fe.getMfcc( \
               fe.getTrimmed( \
               fe.getSamples(x,8000)), 8000) for x in df['filePath']]

In [9]:
type(df.mfcc_trimmed)

pandas.core.series.Series

In [10]:
with open('mfcc_trimmed_8000.npy', 'wb') as f:
    np.save(f, df.mfcc_trimmed)

In [16]:
print(np.shape(df['mfcc']))
print(np.shape(df['mfcc'][0]))

(1440,)
(169, 13)

,filePath,emotion,isFemale,actorId,mfcc
0,data/RAVDESS/Audio_Speech_Actors_01-24/Actor_1...,5,True,16,"[[-685.95807, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0...."
1,data/RAVDESS/Audio_Speech_Actors_01-24/Actor_1...,6,True,16,"[[-671.2172, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0..."
2,data/RAVDESS/Audio_Speech_Actors_01-24/Actor_1...,6,True,16,"[[-527.4061, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0..."
3,data/RAVDESS/Audio_Speech_Actors_01-24/Actor_1...,5,True,16,"[[-574.12976, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0...."
4,data/RAVDESS/Audio_Speech_Actors_01-24/Actor_1...,7,True,16,"[[-790.7973, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0..."
...,...,...,...,...,...
1435,data/RAVDESS/Audio_Speech_Actors_01-24/Actor_0...,3,True,8,"[[-709.6082, 6.139104, 6.125681, 6.1033754, 6...."
1436,data/RAVDESS/Audio_Speech_Actors_01-24/Actor_0...,3,True,8,"[[-789.213, 13.234871, 11.378355, 11.46046, 12..."
1437,data/RAVDESS/Audio_Speech_Actors_01-24/Actor_0...,2,True,8,"[[-862.7954, 28.97565, 24.213745, 19.02436, 12..."
1438,data/RAVDESS/Audio_Speech_Actors_01-24/Actor_0...,2,True,8,"[[-856.02234, 20.999788, 17.354954, 16.075838,..."
1439,data/RAVDESS/Audio_Speech_Actors_01-24/Actor_0...,1,True,8,"[[-815.3506, 17.536715, 16.921389, 16.089722, ..."

In [19]:
df.isFemale.value_counts()

False    720
True     720
Name: isFemale, dtype: int64

In [20]:
df.actorId.value_counts()

1     60
2     60
23    60
22    60
21    60
20    60
19    60
18    60
17    60
16    60
15    60
14    60
13    60
12    60
11    60
10    60
9     60
8     60
7     60
6     60
5     60
4     60
3     60
24    60
Name: actorId, dtype: int64

In [21]:
df.emotion.value_counts()

2    192
3    192
4    192
5    192
6    192
7    192
8    192
1     96
Name: emotion, dtype: int64