In [11]:
import pandas as pd
df_raw = pd.read_csv('RAVDESS_speech_withMelSamplesTrimmedDuree.csv', index_col=False)

In [12]:
df_raw.head()

,filePath,emotion,isFemale,actorId,isCalmOrNeutral,isCalmOrNeutralOrHappy,mel,samples,samples_trimed,samples_trimed_duration,duration_rounded
0,data/RAVDESS/Audio_Speech_Actors_01-24/Actor_1...,5,True,16,0,0,[[-80. -80. -80. ]\n [-80....,[ 0.0000000e+00 0.0000000e+00 0.0000000e+00 ...,[ 9.2048276e-07 -7.6235585e-07 6.5518782e-07 ...,2.275556,3
1,data/RAVDESS/Audio_Speech_Actors_01-24/Actor_1...,6,True,16,0,0,[[-8.0000000e+01 -8.0000000e+01 -8.0000000e+01...,[ 0.0000000e+00 0.0000000e+00 0.0000000e+00 ...,[ 2.3352652e-06 -1.8194497e-06 1.3951085e-06 ...,2.182676,3
2,data/RAVDESS/Audio_Speech_Actors_01-24/Actor_1...,6,True,16,0,0,[[-78.88295 -80. -80. ]\n [-...,[ 3.0036153e-05 2.7443759e-05 9.8903274e-07 ...,[ 6.7675830e-04 1.1530800e-04 -3.7835707e-04 ...,2.995374,3
3,data/RAVDESS/Audio_Speech_Actors_01-24/Actor_1...,5,True,16,0,0,[[-80. -80. -80. ]\n [-80....,[ 0.0000000e+00 0.0000000e+00 0.0000000e+00 ...,[-3.4478158e-04 -1.4136413e-04 5.1286745e-05 ...,2.345215,3
4,data/RAVDESS/Audio_Speech_Actors_01-24/Actor_1...,7,True,16,0,0,[[-80. -80. -80. ]\n [-80....,[ 0.0000000e+00 0.0000000e+00 0.0000000e+00 ...,[-1.3189371e-07 1.5032063e-07 -1.5891466e-07 ...,2.484535,3

In [13]:
df = df_raw

In [14]:
df = df.drop(['filePath', 'isCalmOrNeutral', 'isCalmOrNeutralOrHappy', \
    'mel', 'samples', 'samples_trimed_duration', 'duration_rounded'], axis=1)

In [15]:
df

,emotion,isFemale,actorId,samples_trimed
0,5,True,16,[ 9.2048276e-07 -7.6235585e-07 6.5518782e-07 ...
1,6,True,16,[ 2.3352652e-06 -1.8194497e-06 1.3951085e-06 ...
2,6,True,16,[ 6.7675830e-04 1.1530800e-04 -3.7835707e-04 ...
3,5,True,16,[-3.4478158e-04 -1.4136413e-04 5.1286745e-05 ...
4,7,True,16,[-1.3189371e-07 1.5032063e-07 -1.5891466e-07 ...
...,...,...,...,...
1435,3,True,8,[-3.5647103e-05 -5.6249388e-05 -3.7155871e-05 ...
1436,3,True,8,[-1.3109808e-06 -5.2740556e-06 -2.2491471e-05 ...
1437,2,True,8,[-2.8233026e-07 2.3358811e-07 -1.6015822e-07 ...
1438,2,True,8,[-1.4092414e-04 -2.1190503e-04 -1.9484098e-04 ...
1439,1,True,8,[0.00013518 0.00020769 0.00018903 ... 0. ...

In [19]:
df.isFemale.value_counts()

False    720
True     720
Name: isFemale, dtype: int64

In [20]:
df.actorId.value_counts()

1     60
2     60
23    60
22    60
21    60
20    60
19    60
18    60
17    60
16    60
15    60
14    60
13    60
12    60
11    60
10    60
9     60
8     60
7     60
6     60
5     60
4     60
3     60
24    60
Name: actorId, dtype: int64

In [21]:
df.emotion.value_counts()

2    192
3    192
4    192
5    192
6    192
7    192
8    192
1     96
Name: emotion, dtype: int64